/******************************
			BODY
******************************/

body {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	margin: 35px;
	margin-top: 10px;
	margin-left: 45px;
	background-color: #fefffa;
}

/******************************
			HEADER
******************************/

.header {
	clear: both;
}

.headercontent {
	margin: 0 auto;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.headercontent h1 {
	font-size: 21px;
	font-family: 'Montserrat';
	color: #F30000;
	border: none;
}

.header h1, .header img {
	display: inline-block;
}

h2 {
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 20px;
	margin-bottom: 0px;
	color: #333333;
}

h3 {
	font-weight: 300;
	position: relative;
	bottom: 3px;
	font-size: 17px;
	margin-top: 5px;
	color: #333333;
}

.header img {
	height: 60px;
	width: 45px;
	position: relative;
	top: 5px;
}

#redcolorstrip {
	width: 6px;
	height: 50px;
	border-style: #F30000;
	border-color: #F30000;
	background-color: #F30000;
	display: inline-block;
	position: relative;
	left: 50px;
}

#bluecolorstrip {
	width: 6px;
	height: 50px;
	border-style: #2980b9;
	border-color: #2980b9;
	background-color: #2980b9;
	display: inline-block;
	position: relative;
	left: 55px;
}

#headerblurb {
	display: inline-block;
	position: relative;
	left: 100px;
	margin: 0;
}

/******************************
		DROPDOWN MENU
******************************/

.pulse {
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-filter:saturate(1.8);
	-webkit-transition: filter 0.75s;
	transition-timing-function: ease-in-out;
}

@-webkit-keyframes pulsate {
	0% { opacity: .75}
	10% { opacity: .80}
	20% { opacity: .85 }
	30% { opacity: .90 }
	40% { opacity: .95 } 
	50% { opacity: 1.0}
	60% { opacity: .95}
	70% { opacity: .90}
	80% { opacity: .85}
	90% { opacity: .80}
	100% { opacity: .75}
}

.user_cpu_dropdowns {
	position: relative;
	float: right;
	width: 20%;
}

.dropdown img {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-left: 5px;
}

#userDropBtn {
	background-color: #2980b9;
	width: 250px;
}

#cpuDropBtn {
	background-color: #F30000;
	width: 250px;
}

#userDropBtn, #cpuDropBtn {
	color: white;
	padding: 16px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	outline: none;
}

#userDropBtn:hover, #userDropBtn:focus {
	background-color: #349BDE;
}

#cpuDropBtn:hover, #cpuDropBtn:focus {
	background-color: #FF3737;
}

#userDropBtn:active, #cpuDropBtn:active {
	-webkit-filter:saturate(0.5);
	-webkit-transition: filter 0.75s;
	transition-timing-function: ease-in-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 250px;
	overflow: auto;
	max-height: 135px;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 2px;
	transition: all 0.4s ease-in-out;	
}

.dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}

.dropdown-content a:hover {
	background-color: #95a5a6;
	color: white;
}

.show {
	display: block;
}

/******************************
			CONTENT
******************************/

.content {
	float: right;
	width: 80%;

}

/******************************
			STATS
******************************/

#user_stats {
	width: 248px;
	border: 1px solid #2980b9;
	margin-top: 5px;
	margin-bottom: 15px;
}

#user_stats p {
	font-weight: 300;
}

.header_row {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.icon img {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.icon, .header_text {
	display: inline-block;
	vertical-align: middle;
}

.header_text {
	width: 203px;
	font-size: 19px;
	font-weight: 300;
}

.header_text p {
	margin: 0 auto;
	padding-left: 5px;
}

.player_pic img {
	height: 51px;
	width: 70px;
}

.player_bio {
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.player_pic, .bio_text {
	display: inline-block;
	vertical-align: middle;
}

.context, .season {
	height: 28px;
	width: 171px;
	vertical-align: middle;
}

.context {
	border-bottom: 2px solid #2980b9;
	border-left: 2px solid #2980b9;
}

.season {
	border-left: 2px solid #2980b9;
}

.bio_text p {
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: 9px;
	text-align: center;
}

#user_context, #user_season, #cpu_context, #cpu_season {
	z-index: -1;	
}

.stat_details {
	border: 1px solid #2980b9;
}

.shot_name, .shot_pct {
	display: inline-block;
}

.shot_name {
	width: 180px;
	padding-left: 20px;
	border-right: 2px solid #2980b9;
	font-size: 13px;
}

.shot_name p, .shot_pct p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.shot_pct {
	width: 40px;
	text-align: center;
}

#cpu_stats {
	width: 248px;
	border: 1px solid #F30000;
	margin-top: 5px;
	margin-bottom: 15px;
}

#cpu_stats p {
	font-weight: 300;
}

.header_row,.cpu_red,  {
	border-color: #F30000
}

.cpu_red {
	border-color: #F30000;	
}

/******************************
		SHOT SELECTION
******************************/

.bnf {-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	transition: all 0.1s ease-in-out;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(-5px, 0px); }
	50% { -webkit-transform: translate(5px, 0px); }
	100% { -webkit-transform: translate(-5px, 0px); }
}

.shot_selection {
	text-align: center;
	display: block;
}

.shot_header {
	display: inline-block;
	font-size: 14px;
}

.arrows_header {
	display: inline-block;
}

.section_header {
	width: 250px;
	height: 50px;
	background-color: #3A3A3A;
	position: relative;
	bottom: 75px;
	line-height: 0.4;
	-webkit-transform: skew(-11deg);
	    -moz-transform: skew(-11deg);
	    	-o-transform: skew(-11deg);
	display: inline-block;
}

.section_header p {
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-weight: bold;
}

.arrows {
	display: inline-block;
	position: relative;
	bottom: 44px;
	left: 12px;
}

.arrows img {
	height: 70%;
	width: 40%;
}

.shot_blurb {
	width: 300px;
	text-align: left;
	position: relative;
	bottom: 75px;
}

.buttons {
	display: inline-block;
}

.button {
	display: inline-block;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: none;
}

.button p {
	font-weight: 500;
	font-size: 13px;
	margin-top: 5px;
}

.button img {
	height: 80%;
	width: 80%;
}

.button img:active {
	-webkit-filter:saturate(0.75);
	-webkit-transition: filter 0.75s;
	transition-timing-function: ease-in-out;
	width: 79%;
	height: 79%;
}

.shot_type {
	cursor: pointer;
}

.disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.instructions {
	display: block;
	position: relative;
	left: 13%;
	visibility: hidden;
	background-color: white;
	border: 1px solid grey;
	width: 68%;
	height: 20%;
	padding: 5px;
	box-shadow: 1px;
}

.shot_type:hover {
	-webkit-filter:saturate(1.4);
	-webkit-transition: filter 1s;
	transition-timing-function: ease-in-out;
}

.disabled:hover + .instructions, .disabled + .instructions:hover {
	visibility: visible;
}

.disabled:hover, img.disabled:active {
	-webkit-filter:saturate(1);
	width: inherit;
	height: inherit;
}

.shot_type.disabled:hover {
	width: 80%;
	height: 80%;
}

/******************************
			RESULTS
******************************/

.rattle {
	-webkit-animation-name: rattle;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	transition: all 0.1s ease-in-out;
}

@-webkit-keyframes rattle {
    0% { -webkit-transform: rotate(-3deg); }
	10% { -webkit-transform: rotate(-2deg); }
	20% { -webkit-transform: rotate(-1deg); }
	30% { -webkit-transform: rotate(0deg); }
	40% { -webkit-transform: rotate(1deg); }
	50% { -webkit-transform: rotate(2deg); }
	60% { -webkit-transform: rotate(3deg); }
	70% { -webkit-transform: rotate(2deg); }
	80% { -webkit-transform: rotate(1deg); }
	90% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-3deg); }
}

.shake {
	-webkit-animation-name: shakeme;
	-webkit-animation-duration: 1.5s;
	-webkit-transform-origin:5% 5%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes shakeme {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.results {
	text-align: center;
}

#user_header {
	width: 250px;
	height: 50px;
	background-color: #3A3A3A;
	-webkit-transform: skew(-11deg);
	    -moz-transform: skew(-11deg);
	    	-o-transform: skew(-11deg);
	display: inline-block;

}

#cpu_header {
	width: 250px;
	height: 50px;
	background-color: #3A3A3A;
	-webkit-transform: skew(11deg);
	    -moz-transform: skew(11deg);
	    	-o-transform: skew(11deg);
	display: inline-block;
}

#user_header p, #cpu_header p{
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-weight: bold;
}

.results_content {
	border: 1px solid #3A3A3A;
	width: 100%;
	display: inline-block;
}

table {
	width: 100%;
}

table, tr, td {
	border: 2px solid #3A3A3A;
	border-collapse: collapse;
}

#user_player_table, #cpu_player_table {
	background-color: #3A3A3A;
	color: white;
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	min-height: 30px;
	border-bottom: none;
}

#user_player_table {
	background-color: #2980b9;
	width: 177px;	
}

#cpu_player_table {
	background-color: #F30000;
	width: 177px;
}

td img {
	height: 51px;
	width: 51px;
}

td#user_player_table_img, td#cpu_player_table_img {
	width: 18%;
}

td#user_player_table_img img, td#cpu_player_table_img img {
	height: 102px;
	width: 140px;
}

.blank {
	/*border-top-color: #FEFFFA;*/
	border: none;
}

.points {
	padding: 0;
	overflow: hidden;
}

.pt_label {
	background-color: #3A3A3A;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	position: relative;
    bottom: 15px;
	padding-top: 10px;
	padding-bottom: 8px;
}

#user_pts, #cpu_pts {
	font-size: 37px;
	font-weight: 600;
}

#user_pts {
	color: #2980b9;
}

#cpu_pts {
	color: #F30000;
}

.vs {
	color: #3A3A3A;
	font-weight: 600;
	font-size: 20px;
}

.stat {
	border-top: none; 
	padding: 5px;
	font-size: 14px;
}

.stat_label {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: none;
	font-style: italic;
}

.stat_detail {
	font-size: 12px;
}

tr.stat td:hover {
	color: white;
	background-color: #3A3A3A;
	transition: all 0.1s ease-in-out;
}
/******************************
			FOOTER
******************************/

.footer {
	background-color: #C3C4C0;
	height: 30px;
	width: 100%;
	position: absolute;
	margin: 0;
	left: 0;
	bottom: 0;
	clear: both;
}


