/***BODY***/
body {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	margin: 35px;
	margin-top: 10px;
	margin-left: 45px;
}

/***HEADER***/

.headercontent {
	margin: 0 auto;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.headercontent h1 {
	font-size: 21px;
	font-family: 'Montserrat';
	color: #F30000;
	border: none;
}

h1,img {
	display: inline-block;
}

h2 {
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 22px;
	margin-bottom: 0px;
	color: #333333;
}

h3 {
	font-weight: 300;
	position: relative;
	bottom: 3px;
	font-size: 15px;
	margin-top: 5px;
	color: #333333;
}

.header img {
	height: 60px;
	width: 45px;
	position: relative;
	top: 5px;
}

#redcolorstrip {
	width: 6px;
	height: 50px;
	border-style: #F30000;
	border-color: #F30000;
	background-color: #F30000;
	display: inline-block;
	position: relative;
	left: 50px;
}

#bluecolorstrip {
	width: 6px;
	height: 50px;
	border-style: #2980b9;
	border-color: #2980b9;
	background-color: #2980b9;
	display: inline-block;
	position: relative;
	left: 55px;
}

#headerblurb {
	display: inline-block;
	position: relative;
	left: 100px;
	margin: 0;
}

/***DROPDOWN MENU***/
.user_cpu_dropdowns {
	position: relative;
	float: left;
	margin-left: 10px;
}

.dropdown img {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-left: 5px;
}

#userDropBtn {
	background-color: #2980b9;
	width: 250px;
}

#cpuDropBtn {
	background-color: #F30000;
	width: 250px;
}

#userDropBtn, #cpuDropBtn {
	color: white;
	padding: 16px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

#userDropBtn:hover, #userDropBtn:focus {
	background-color: #349BDE;
}

#cpuDropBtn:hover, #cpuDropBtn:focus {
	background-color: #FF3737;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	overflow: auto;
}

.dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

.shot_selection {

}

/***STATS***/

#user_stats {
	width: 248px;
	border: 1px solid #2980b9;
	margin-top: 5px;
	margin-bottom: 15px;
}

#user_stats p {
	font-weight: 300;
}

.header_row {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.icon img {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.icon, .header_text {
	display: inline-block;
	vertical-align: middle;
}

.header_text {
	width: 203px;
	font-size: 19px;
	font-weight: 300;
	font-style: italic;
}

.header_text p {
	margin: 0 auto;
	padding-left: 5px;
}

.player_pic img {
	height: 51px;
	width: 70px;
}

.player_bio {
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.player_pic, .bio_text {
	display: inline-block;
	vertical-align: middle;
}

.context, .season {
	height: 28px;
	width: 171px;
	vertical-align: middle;
}

.context {
	border-bottom: 2px solid #2980b9;
	border-left: 2px solid #2980b9;
}

.season {
	border-left: 2px solid #2980b9;
}

.bio_text p {
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: 9px;
	text-align: center;
}

.stat_details {
	border: 1px solid #2980b9;
}

.shot_name, .shot_pct {
	display: inline-block;
}

.shot_name {
	width: 180px;
	padding-left: 20px;
	border-right: 2px solid #2980b9;
	font-size: 13px;
}

.shot_pct {
	width: 40px;
	text-align: center;
}

#cpu_stats {
	width: 248px;
	border: 1px solid #F30000;
	margin-top: 5px;
	margin-bottom: 15px;
}

#cpu_stats p {
	font-weight: 300;
}

.header_row,.cpu_red,  {
	border-color: #F30000
}

.cpu_red {
	border-color: #F30000;	
}

