/***BODY***/
body {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	margin: 35px;
	margin-top: 10px;
	margin-left: 45px;
	background-color: #fefffa;
}

/***HEADER***/
.header {
	clear: both;
}

.headercontent {
	margin: 0 auto;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.headercontent h1 {
	font-size: 21px;
	font-family: 'Montserrat';
	color: #F30000;
	border: none;
}

.header h1, .header img {
	display: inline-block;
}

h2 {
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 20px;
	margin-bottom: 0px;
	color: #333333;
}

h3 {
	font-weight: 300;
	position: relative;
	bottom: 3px;
	font-size: 17px;
	margin-top: 5px;
	color: #333333;
}

.header img {
	height: 60px;
	width: 45px;
	position: relative;
	top: 5px;
}

#redcolorstrip {
	width: 6px;
	height: 50px;
	border-style: #F30000;
	border-color: #F30000;
	background-color: #F30000;
	display: inline-block;
	position: relative;
	left: 50px;
}

#bluecolorstrip {
	width: 6px;
	height: 50px;
	border-style: #2980b9;
	border-color: #2980b9;
	background-color: #2980b9;
	display: inline-block;
	position: relative;
	left: 55px;
}

#headerblurb {
	display: inline-block;
	position: relative;
	left: 100px;
	margin: 0;
}

/***DROPDOWN MENU***/

.user_cpu_dropdowns {
	position: relative;
	float: right;
	width: 20%;
}

.dropdown img {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-left: 5px;
}

#userDropBtn {
	background-color: #2980b9;
	width: 250px;
}

#cpuDropBtn {
	background-color: #F30000;
	width: 250px;
}

#userDropBtn, #cpuDropBtn {
	color: white;
	padding: 16px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	outline: none;
}

#userDropBtn:hover, #userDropBtn:focus {
	background-color: #349BDE;
}

#cpuDropBtn:hover, #cpuDropBtn:focus {
	background-color: #FF3737;
}

#userDropBtn:active, #cpuDropBtn:active {
	-webkit-filter:saturate(0.5);
	-webkit-transition: filter 0.75s;
	transition-timing-function: ease-in-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 250px;
	overflow: auto;
	max-height: 135px;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 2px;
}

.dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}

.dropdown-content a:hover {
	background-color: #95a5a6;
	color: white;
}

.show {
	display: block;
}

.shot_selection {

}

/***CONTENT***/
.content {
	float: right;
	width: 80%;

}

/***STATS***/

#user_stats {
	width: 248px;
	border: 1px solid #2980b9;
	margin-top: 5px;
	margin-bottom: 15px;
}

#user_stats p {
	font-weight: 300;
}

.header_row {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.icon img {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.icon, .header_text {
	display: inline-block;
	vertical-align: middle;
}

.header_text {
	width: 203px;
	font-size: 19px;
	font-weight: 300;
}

.header_text p {
	margin: 0 auto;
	padding-left: 5px;
}

.player_pic img {
	height: 51px;
	width: 70px;
}

.player_bio {
	vertical-align: middle;
	border: 1px solid #2980b9;
}

.player_pic, .bio_text {
	display: inline-block;
	vertical-align: middle;
}

.context, .season {
	height: 28px;
	width: 171px;
	vertical-align: middle;
}

.context {
	border-bottom: 2px solid #2980b9;
	border-left: 2px solid #2980b9;
}

.season {
	border-left: 2px solid #2980b9;
}

.bio_text p {
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: 9px;
	text-align: center;
}

#user_context, #user_season, #cpu_context, #cpu_season {
	z-index: -1;	
}

.stat_details {
	border: 1px solid #2980b9;
}

.shot_name, .shot_pct {
	display: inline-block;
}

.shot_name {
	width: 180px;
	padding-left: 20px;
	border-right: 2px solid #2980b9;
	font-size: 13px;
}

.shot_name p, .shot_pct p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.shot_pct {
	width: 40px;
	text-align: center;
}

#cpu_stats {
	width: 248px;
	border: 1px solid #F30000;
	margin-top: 5px;
	margin-bottom: 15px;
}

#cpu_stats p {
	font-weight: 300;
}

.header_row,.cpu_red,  {
	border-color: #F30000
}

.cpu_red {
	border-color: #F30000;	
}

/***SHOT SELECTION***/
.shot_selection {
	text-align: center;
	display: block;
}

.section_header {
	display: inline-block;
	width: 250px;
	height: 50px;
	background-color: #95A5A6;
}

.section_header p {
	line-height: 10px;
	font-weight: bold;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.buttons {
	display: block;
}

.button {
	display: inline-block;
	padding: 35px;
	padding-top: 15px;
}

.button img {
	height: 75%;
	width: 75%;
}

.button img:active {
	-webkit-filter:saturate(0.75);
	-webkit-transition: filter 0.75s;
	transition-timing-function: ease-in-out;
	width: 74%;
	height: 74%;
}

.shot_type {
	cursor: pointer;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.instructions {
	display: block;
	position: relative;
	left: 13%;
	visibility: hidden;
	background-color: white;
	border: 1px solid grey;
	width: 68%;
	height: 20%;
	padding: 5px;
	box-shadow: 1px;
}

.shot_type:hover {
	-webkit-filter:saturate(1.4);
	-webkit-transition: filter 1s;
	transition-timing-function: ease-in-out;
}

.disabled:hover + .instructions, .disabled + .instructions:hover {
	visibility: visible;
}

.disabled:hover, img.disabled:active {
	-webkit-filter:saturate(1);
	width: 75%;
	height: 75%;
}

/***RESULTS***/
.results {
	text-align: center;
}

.points p {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 30px;
	color: #2980b9;
}